@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl text-center m-4 mt-24;
  }
}

/* 
Responsive iframe styling below from Ben Marhsall's tutorial:
https://www.benmarshall.me/responsive-iframes/ 
*/

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
